div.col-md-4.col-md-offset-4.errors {
    font-style: italic;
    font-size: large;
    color: red;
}
a.navbar-link {
    color: deepskyblue;
}
body {
    padding-top: 70px;
}
.my-messages {
    transition: 1s linear all;
}
.my-messages.ng-active {

}
.my-messages.ng-inactive {

}
.test.ng-enter {
    -webkit-transition: enter_sequence 1s linear;
    animation: enter_sequence 1s linear;
}
@-webkit-keyframes enter_sequence {
    form { opacity: 0; }
    to { opacity: 1; }
}
@keyframes enter_sequence {
    from { opacity: 0; }
    to { opacity: 1;}
}
article {
    display: block;
}
.fixToTop {
    position: fixed;
    top: 50px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
tr th:first-child {
    width: 60%;
}
/*tr.table-width:nth-child(1n+1) {*/
    /*width: 15%;*/
/*}*/